/* You can add global styles to this file, and also import other style files */
@import '_vars';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}


input::-webkit-input-placeholder {
    color: $white;
    font-size: 15px;
}

input::-moz-placeholder {
    color: $input-color;
    font-size: 15px;
}

input:-ms-input-placeholder {
    color: $input-color;
    font-size: 15px;
}

input::placeholder {
    color: $white;
    font-size: 15px;
}
